<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for ArduPilot based FCU's -->
	<group ns="/red">
		<arg name="fcu_url" default="/dev/ttyS4:115200" /> 
		<!-- <arg name="fcu_url" default="/dev/ttyACM0:115200" /> -->
		
		<arg name="gcs_url" default="" />
		<arg name="tgt_system" default="1" />
		<arg name="tgt_component" default="1" />
		<arg name="log_output" default="screen" />
		<arg name="fcu_protocol" default="v2.0" />
		<arg name="respawn_mavros" default="true" />

		<include file="$(find mavros)/launch/node.launch">
			<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
			<arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

			<arg name="fcu_url" value="$(arg fcu_url)" />
			<arg name="gcs_url" value="$(arg gcs_url)" />
			<arg name="tgt_system" value="$(arg tgt_system)" />
			<arg name="tgt_component" value="$(arg tgt_component)" />
			<arg name="log_output" value="$(arg log_output)" />
			<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
			<arg name="respawn_mavros" value="$(arg respawn_mavros)" />
		</include>
	</group>

    <include file="$(find vicon_bridge)/launch/vicon.launch">
		<arg name="datastream_hostport" value="192.168.0.170"/>
	</include>

    <node name="converter2mav" pkg="racing_pkg" type="vicon2mavros.py" respawn="true" />
	<!-- <include file="$(find fkie_master_discovery)/launch/master_discovery.launch"/> -->
    <node name="origin_setter" pkg="vision_to_mavros" type="set_origin.py" respawn="false" />
    <!-- <node name="follower" pkg="racing_pkg" type="follower.py" respawn="true" /> -->



</launch>