<launch>


    <!-- <include file="$(find vicon_bridge)/launch/vicon.launch">
		<arg name="datastream_hostport" value="192.168.0.170"/>
	</include> -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="filters" value="pointcloud, decimation"/>

	</include>

	<include file="$(find racing_pkg)/launch/apm.launch"/>
	


	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.1" />
		
		<param name="frame_id" type="string" value="world" />
		
		<param name="height_map" value="true" />
		<param name="sensor_model/max_range" value="3.5" />
		<param name="sensor_model/hit" value="0.51" />
		<param name="sensor_model/miss" value="0.49" />
		<param name="sensor_model/min" value="0.1" />
		<param name="sensor_model/max" value="0.97" />
		<param name="latch" value="false" />
		<param name="filter_speckles" value="true" />
		<param name="ground_filter/plane_distance" value="0.15" />
		<param name="compress_map" value="true" />
		<param name="incremental_2D_projection" value="true" />
		<remap from="cloud_in" to="/camera/depth/color/points" />
	</node>



	<include file="$(find fkie_master_discovery)/launch/master_discovery.launch"/>
    <node name="converter2cam" pkg="racing_pkg" type="map2cam_broadcaster.py" respawn="true" />

</launch>
